<app-nav-bar></app-nav-bar>
<div class="container-fluid"> 
    <p></p>
    <div class="row">  
        <div class="col-8">
            <h3>Courses</h3>  
        </div>
        <div class="col">
            <button class="btn btn-primary" >PUBLISH</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" >SAVE</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" >DRAFT</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" >BACK</button>
            &nbsp;&nbsp;&nbsp;
            <!-- <button class="btn btn-primary" (click)="navigateToSeekEditor()">Attach Document</button> -->
        </div>
    </div> 
        <hr>
</div>

<div  class="container-fluid">
    <form [formGroup]="createForm"  >
        <div class="row">
            <div class="col-3"></div> 
                <div class="col-1">
                    <label class=" col-form-label">Course Name:</label>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" formControlName="courseName" [(ngModel)]="course_name" placeholder="Enter the Course name"/>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div> 
                <div class="col-1">
                    <label class=" col-form-label">Level:</label>
                </div>
                <div class="col-3">
                    <select class="custom-select" formControlName="level">
                        <option value="" disabled selected>select</option>
                        <option *ngFor="let level of levels" [value]="level.id">{{level.name}}</option>
                        
                      </select>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div> 
                <div class="col-1">
                    <label class=" col-form-label">Category:</label>
                </div>
                <div class="col-3">
                    <select class="custom-select" formControlName="category" >
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                     </select>
                     <div *ngFor = "let c of categories">
                        name = {{c.name}}
                     </div>
                </div>
        </div>
        <br>
     
                 <div class="row">
                    <div class="col-3"></div> 
                        <div class="col-1">
                            <label class=" col-form-label">Tags:</label>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" formControlName="tags" />
                        </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3"></div> 
                        <div class="col-1">
                            <label class=" col-form-label">Slug:</label>                                                                                                    
                        </div>
                        <div class="col-2.5">
                            <span>https://qa.revature.com/RevaturePro/course</span>
                        </div>
                        <div class="col-1">
                            <input type="text" class="form-control" formControlName="slug" [value]="course_name"/>
                        </div>
                </div>
                <br>
                <div class="form-group row">
                    
                     <div class="col-3"></div> 
                        <div class="col-1">
                            <label class=" col-form-label">Level Override:</label>                                                                                                    
                        </div>
                        <div class="col-1" >
                            <label><input type="radio" name="levelOverride" formControlName="levelOverride" value="true" /> On&nbsp;&nbsp;</label>
                            <label><input type="radio" name="levelOverride" formControlName="levelOverride" value="false" /> Off&nbsp;&nbsp;</label>
                        </div>
                </div>
               <br>
               <div class="row">
               <div class="col-3"></div> 
                   <div class="col-1">
                       <label class=" col-form-label">Available For:</label>                                                                                                    
                   </div>
                   <div class="col-3" >
                       <label><input type="checkbox"  formControlName="availableFor" />&nbsp;&nbsp;Pre-Signup</label><br>
                       <label><input type="checkbox"  formControlName="availableFor"/>&nbsp;&nbsp;Logged in users via Slug</label><br>
                       <label><input type="checkbox"  formControlName="availableFor" />&nbsp;&nbsp;Dashboard</label>
                   </div>
           </div>
          <br>
          <div class="row">
                    
            <div class="col-3"></div> 
               <div class="col-1.5">
                   <label class=" col-form-label">Enrollment Activity Points:</label>                                                                                                    
               </div>
               <div class="col-1">
                   <input type="number" value="100"  formControlName="enrollmentActivityPoints" /><br>
                   
               </div>
       </div>
      <br>
      <div class="row">
        <div class="col-3"></div> 
           <div class="col-1.5">
               <label class=" col-form-label">Completion Activity Points:</label>                                                                                                    
           </div>
           <div class="col-1">
               <input type="number" value="100"  formControlName="completionActivityPoints"/><br>
            </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3"></div> 
           <div class="col-1">
               <label class=" col-form-label">Description:</label>                                                                                                    
           </div>
           <div class="col">
               <textarea rows="4" cols="50" formControlName="description"></textarea>
            </div>
    </div>
    <br>
   
    <div class="row">
        <div class="col-3"></div> 
           <div class="col-1">
               <label class=" col-form-label">Meta Keyword:</label>                                                                                                    
           </div>
           <div class="col">
            <tag-input placeholder="enter key tag" formControlName="metaKey" [(ngModel)]="metaKey"  [modelAsStrings]="true">
 </tag-input>
            </div>
    </div>
    <div class="row">
        <div class="col-3"></div> 
           <div class="col-1">
               <label class=" col-form-label">Meta Description:</label>                                                                                                    
           </div>
           <div class="col">
               <textarea rows="4" cols="50" formControlName="metaDescription"></textarea>
            </div>
    </div>
    <div class="row">
        <div class="col-3"></div> 
           <div class="col-1">
               <label class=" col-form-label">Choose Icon:</label>                                                                                                    
           </div>
           <div class="col">
            <input type="file" formControlName="chooseIcon" /><br>
            </div>
    </div><br>
    <div>
        <button class="btn btn-primary" (click)="showTextEditor()">Attach Document</button>
    </div>
    <div id="textEditor" style="visibility: hidden;">
        
<ckeditor [editor]="editor" #editorReference (ready)="onReady($event)"></ckeditor>

    </div>
    <div style="text-align: center;" >
        <input type="submit" class="btn btn-primary" (click)="onSubmit()">
    </div>
    </form> 
        </div>   
        
        
 



                
      

   
    
