<app-nav-bar></app-nav-bar>
<br>
<div class="container-fluid">
    <div>
        <h2 class="left">Courses</h2>
        <div class="right">
            <button class="btn btn-primary" style="margin-right:10px" (click)="navigatToUpdateComponent(id)">Edit</button>
            <button class="btn btn-primary" style="margin-right:10px" (click)="navigatToCloneComponent(id)">Clone</button>
            <button class="btn btn-primary" style="margin-right:10px">Delete</button>
            <button class="btn btn-primary" style="margin-right:10px" (click)=back()>Back</button>
        </div>
    </div>
    <hr>
</div>

    <div class="center">
        <div class="alert alert-primary" style="text-align: center;">
            <b>{{courseObject.name}}</b> - <b>{{courseObject.version}}</b>
        </div>
        <div *ngIf=courseObject.levelObj.name><b>level :</b> {{courseObject.levelObj.name}}
        </div>
        <div *ngIf=courseObject.categoryObj.name>
            <b> Category : </b>{{courseObject.categoryObj.name}}
        </div>
        <div *ngIf=courseObject.slug>
            <b> Slug: </b><a href="#">https://qa.revature.com/REV/course/{{courseObject.slug}}</a>
        </div>
        <div>
        <ng-container *ngIf="courseObject.isLevelOverride== false;then override else nonoverride"></ng-container>
        <ng-template #nonoverride><b>LevelOverride :</b> No</ng-template>
        <ng-template #override><b>LevelOverride:</b> Yes</ng-template>
        </div>

        <div>
            <!-- <ng-container *ngIf="o.availableFor==true ; then presignup else second"></ng-container>
            <ng-template #presignup><b>Available for:</b> Pre sign-up</ng-template>
            <ng-template #second>
                <ng-container *ngIf="o.availableFor==false ; then slug else dashboard"></ng-container>
                <ng-template #slug><b>Available for:</b>Logged in via Slug</ng-template>
                <ng-template #dashboard><b>Available for:</b>Dashboard</ng-template>
            </ng-template> -->
            <label><b>Available for:</b></label>
            <!-- <div *ngFor="let a of availableFor"> -->
                                <span *ngFor="let a of availableFor, let i=index"> {{a}}
                                    <span *ngIf="i>=0 && i!=availableFor.length-1">,</span>
                                </span>
                            <!-- </div> -->
                                
        </div>
        <div>
            <ng-container *ngIf="courseObject.isActive== false;then active else inactive"></ng-container>
            <ng-template #active><b>Active :</b> No</ng-template>
            <ng-template #inactive><b>Active :</b> Yes</ng-template>
        </div>
        <div *ngIf=courseObject.enrollmentActivityPoints>
            <b>Enrollment Activity Points: </b>{{courseObject.enrollmentActivityPoints}}
        </div>
        <diV *ngIf=courseObject.completionActivityPoints>
            <b>Completion Activity Points: </b>{{courseObject.completionActivityPoints}}
        </diV>
        <div *ngIf=courseObject.tag>
            <b> Tags:</b> {{courseObject.tag}}
        </div>
        <div *ngIf=courseObject.createdBy>
            <b>Created By:</b> {{courseObject.createdBy}}
        </div>
        <div *ngIf=courseObject.createdOn>
            <b>Created On: </b>{{courseObject.createdOn|date}}
        </div>
        <div *ngIf=courseObject.modifiedBy>
            <b>Modified By:</b> {{courseObject.modifiedBy}}
        </div>
        <div *ngIf=courseObject.modifiedOn>
            <b>Modified On:</b> {{courseObject.modifiedOn|date}}
        </div>



</div>
<!-- card for disp documents -->

<div class="card text-white bg-info mb-3 " style="max-width: 18rem;">
    <div class="card-header">Documents Attached</div>
    <div class="card-body">
        <div *ngFor="let doc of courseObject.docObj">
      <p class="card-text"><u>{{doc.name}}</u></p>
    </div>
    </div>
    <div class="card-footer"><button class="btn btn-primary">Attach Document</button></div>
  </div>


  <div class="card text-white bg-info mb-3 " style="max-width: 18rem;">
    <div class="card-header">Videos Attached</div>
    <div class="card-body">
        <div *ngFor="let doc of courseObject.docObj">
      <p class="card-text"><u>{{doc.name}}</u></p>
    </div>
    </div>
    <div class="card-footer"><button class="btn btn-primary">Attach Document</button></div>
  </div>

  <div class="card text-white bg-info mb-3 " style="max-width: 18rem;">
    <div class="card-header">Videos Attached</div>
    <div class="card-body">
         
        <div *ngFor="let video of listOfVideos">
            <div class="row">
                <div class="col-8">
                    <p class="card-text" >{{video.name}}</p>
                </div>
                <div class="col-4">
                     <i (click)="deleteCourseVideoMapping(video.id)" class="fa fa-trash fa-sm"></i>
                </div>
            </div>
    </div>
    <p>{{listOfVideos}}</p>
    </div>
    <div class="card-footer"><button class="btn btn-primary"  (click)="openAddVideoModal(showAvailableVideo)">Attach Videos</button></div>
  </div>